
.round {
    border-radius: 50%;
}
img {
    height: 100px;
    width: 150px;
}
.row1 {
    display: flex;
}
.row2 {
    display: flex;
}
.Generations {
    text-align: center;
    font-family: verdana
}
.Africans {
    text-align: center;
    font-family: verdana
}
.Women {
    text-align: center;
    font-family: verdana
}
.Asians {
    text-align: center;
    font-family: verdana
}
.Hispanics {
    text-align: center;
    font-family: verdana
}
.Interfaith {
    text-align: center;
    font-family: verdana
}
.LGBT {
    text-align: center;
    font-family: verdana
}
.Veterans {
    text-align: center;
    font-family: verdana
}